.homePage {
    display: flex;
    height: 100vh;
    border: red 1px solid;
    background-color: #202020;
    color: white;
    font-family: Verdana;
}

.left {
    width: 20%;
    border: green 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.middle {
    width: 50%;
    border: blue 1px solid;
}

.right {
    width: 30%;
    border: violet 1px solid;
}

.egg {
border-radius: 40%;
margin: 4px;
}

.smalllogo {
    transform: rotate(180deg);
    margin: 1rem;
     
}

.logout {
    margin: 1rem;
    display: flex;
    }

.user {
    margin: 4px;
}

.btnLogout {
  background-color: #202020;
  border-radius: 8px;
  height: 2rem;
  border: 1px white solid;
  color: white;
}