.homePage {
    display: flex;
    height: 100vh;
    background-color: #151D28;
    color: white;
    font-family: Verdana;
    width: 100%;
}

.left {
    width: 20%;
    border: #202836 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.middle {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.middleUp {
    border-bottom:  #202836 2px solid;
    height: 25vh;
}

.middleDown {
    height: 75vh;
}

.right {
    width: 30%;
    border: #202836 1px solid;
}

.egg {
border-radius: 40%;
margin: 4px;
}

.smalllogo {
    transform: rotate(180deg);
    margin: 1rem;
     
}

.logout {
    margin: 1rem;
    display: flex;
    }

.user {
    margin: 4px;
}

.btnLogout {
  background-color: #151D28;
  border-radius: 8px;
  height: 2rem;
  border: 1px white solid;
  color: white;
}